@media (max-width: 600px){
    body{
        display:flex;
        flex-direction:column;
    }
    #container{
        flex:1;
        display:flex;
        flex-direction:column;
    }
    #container :nth-child(1n){
        margin:5px 0px 5px 0px;
    }
}
body{
    margin:0px;
    width:100%;
    padding:0px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    background-color:#e1e1e1;
}
body #lastupdates, body #container{
    flex:1;
    padding:3px;
    margin:10px;
    border:1px solid #333;
    background-color:antiquewhite;
}